# --- Enviroment Python (Django) ---
*.py[cod]
*$py.class
__pycache__/
.env
.venv/
env/
venv/
db.sqlite3
media/
staticfiles/

# --- Ecosystem Node (Vite/React) ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# --- System files and IDE ---
.DS_Store
.vscode/
.idea/
*.swp
